/*############################ Animations ############################ */
/* loading icon animations circle */
@import "variables";

.loading-icon {
    font-size: 10px;
    z-index: 21;
    display: block;
    clear: both;
    margin: 20px auto;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(235, 235, 235, 0.4);
    border-right: 1.1em solid rgba(235, 235, 235, 0.4);
    border-bottom: 1.1em solid rgba(235, 235, 235, 0.4);
    border-left: 1.1em solid #EBEBEB;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loading-icon,
.loading-icon:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* loading icon animations horizontal */

.cs-loader {
    position: relative;
    top: 0;
    left: 0; 
    width: 100%;
    overflow: hidden;
    height: 20px;
    .cs-loader-inner {
        position: absolute;
        width: calc(100% - 100px);
        color: #FFF; 
        text-align: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        label {
            font-size: 12px;
            opacity: 0;
            display: inline-block;
            vertical-align: top;
            height: 20px;
            line-height: 20px;
        
            &:nth-child(6) {
                -webkit-animation: lol 3s infinite ease-in-out;
                animation: lol 3s infinite ease-in-out;
            }
            &:nth-child(5) {
                -webkit-animation: lol 3s 100ms infinite ease-in-out;
                animation: lol 3s 100ms infinite ease-in-out;
            }
            &:nth-child(4) {
                -webkit-animation: lol 3s 200ms infinite ease-in-out;
                animation: lol 3s 200ms infinite ease-in-out;
            }
            &:nth-child(3) {
                -webkit-animation: lol 3s 300ms infinite ease-in-out;
                animation: lol 3s 300ms infinite ease-in-out;
            }
            &:nth-child(2) {
                -webkit-animation: lol 3s 400ms infinite ease-in-out;
                animation: lol 3s 400ms infinite ease-in-out;
            }
            &:nth-child(1) {
                -webkit-animation: lol 3s 500ms infinite ease-in-out;
                animation: lol 3s 500ms infinite ease-in-out;
            }
        }
    }
    @keyframes lol {
        0% {
            opacity: 0;
            transform: translateX(-300px);
        }
        33% {
            opacity: 1;
            transform: translateX(0px);
        }
        66% {
            opacity: 1;
            transform: translateX(0px);
        }
        100% {
            opacity: 0;
            transform: translateX(300px);
        }
    }
    @-webkit-keyframes lol {
        0% {
            opacity: 0;
            -webkit-transform: translateX(-300px);
        }
        33% {
            opacity: 1;
            -webkit-transform: translateX(0px);
        }
        66% {
            opacity: 1;
            -webkit-transform: translateX(0px);
        }
        100% {
            opacity: 0;
            -webkit-transform: translateX(300px);
        }
    }
}

/* Shaker */
.shaker {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Carousel */
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { 
    0%   {opacity: 0;} 
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0%   {opacity: 0;} 
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0%   {opacity: 0;} 
    100% {opacity: 1;}
}
.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    position: absolute;
    top: 0;

    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
 
    $items:((0,0),
            (1,1),
            (2,3),
            (3,5),
            (4,7),
            (5,9),
            (6,11),
            (7,13),
            (8,15),
            (9,17),
            (10,19),
            (11,21));   
 
    @each $index, $delay in $items {

        &.item-#{$index} {
            -webkit-animation-delay: #{$delay}s;
            -moz-animation-delay: #{$delay}s;
            animation-delay: #{$delay}s;

            z-index: #{$index}; 
        }
    }
}


/* rotator */

.rotate{
    
    -webkit-animation:spin .5s linear infinite;
    -moz-animation:spin .5s linear infinite;
    animation:spin .5s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 