/*############################ Global ############################ */
@import "variables";

html{
    -webkit-text-size-adjust: none;
}
html,
body,
div,
p,
a,
span,
input,
button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body,
a {
    color: #000;
}
body {
    overflow-x: hidden;
    background: #fff;
    background-color: #fff;
    font-family: $font-arial;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333; 
}
span,
p,
a,
img,
strong {
    display: block;
}
p {
    margin-top: 20px;
}
a {
    color: $color-blue;
    text-decoration: none;
    &:visited {
        color: $color-blue;
        text-decoration: none;
    }
    &:hover {
        color: $color-blue-hover;
        text-decoration: none;
    }
}
svg {
    fill: currentColor;
    g {
        fill: currentColor;
    }
}
textarea,
input {
    height: inherit;
    border-radius: 2px;
    border: 1px solid $color-gray-light;
    display: inline-block;
    vertical-align: middle;
    text-indent: 10px;
}
input[type="submit"] {
    text-indent: 0;
}
@each $elem in ("input","button","textarea") {
    #{$elem}:focus {
        outline: none;
    }
}
