/*########################### Helper CLasses ######################### */
@import "variables";

.custom-shortcode {
    font-family: Georgia, serif;
    margin-bottom: 40px;

    .wi-center-heading {
        text-align: center;
        overflow: hidden;
        margin-bottom: 40px;
        width: 90%;
        margin: 0 auto;
        .h {
            height: auto;
            display: inline-block;
            position: relative;
            padding-left: 5px;
            margin-bottom: 0;
            letter-spacing: 2px;
            font-size: 54px;
            text-transform: uppercase;
            line-height: 60px;
            font-family: $font-bebas;
            font-weight: 300;
        }
    } 
    .wi-center-heading.has_boder .h:before, 
    .wi-center-heading.has_boder .h:after {
      position: absolute;
      top: 50%;
      width: 999px;
      content: "";
      border-top: 1px solid #ddd;
    }
    .wi-center-heading.has_boder .h:before {
      left: -999px;
    } 
    .wi-center-heading .subtitle {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      position: relative;
      top: -5px;
      font-family: Roboto;
    }
}

.show {
    -webkit-transition: all 2s ease-in-out;
}
.fixed-header {
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 0 #ccc;
}
.logged-in {
    .fixed-header{
        margin-top: 30px;
    }
} 
@media screen and ( max-width: 782px ) { 
    .logged-in {
        .fixed-header{
            margin-top: 46px !important; 
        }
    }
}

.slide-transition {
    opacity: 0;
    margin-top: 0;
    &.init {
        opacity: 1;
        margin-top: 10px;
        transition: opacity 0.3s;
        transition: margin-top 0.3s;
    }
}
.crop {
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}

.clear{
    &:after{
        content:"";
        clear: both;
    }
}

.bubble {
    border-radius: 20px;
    height: 51px;
    width: 36px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    z-index:10;
    display: block;
    text-align: center;
    line-height: 50px;
    background-size: auto 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url($cart-bubble);
}
.left-shadow {
    position: relative;
    overflow: hidden;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 10px;
        top: 5%;
        height: 90%;
        left: -10px;
        border-radius: 5px / 100px;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.6);
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 10px;
        top: 5%;
        height: 90%;
        right: -10px;
        border-radius: 5px / 100px;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.6);
    }
}
.overlay {
    background: #000;
    width: 100%;
    height: 1000%;
    top: 0;
    left: 0;
    position: absolute; 
    display: none;
    z-index: 100;
    opacity: .8;

    &.active{
        display: block;
    }
}
button.submit,
input.submit,
a.submit,
button.checkout-button,
input.checkout-button,
a.checkout-button {
    color: #fff;
    margin: 20px auto;
    margin-top: 20px;
    font-family: $font-bebas;
    font-weight: 300;
    color: #fff;
    display: block;
    border-radius: 2px;
    background: #fff;
    padding: 6px 30px;
    position: relative;
    box-shadow: none;
    text-shadow: inherit;
    text-decoration: none;
    text-align: center;
    border: 0 solid transparent;
    background-color: transparent;
    background-image: url($button-submit);
    background-size: 200% 100%;
    background-position: 100% 0;
    &:hover {
        background-position: 0 0;
        cursor: pointer;
    }
    &:visited{
        color: #fff; 
    }
    .text {
        display: block;
    }
    .loading {
        display: none;
    }
    &.active {
        .loading {
            display: block
        }
        .text {
            display: none;
        }
    }
}
.hidden {
    display: none !important;
    opacity: 0 !important;
}
.disabled{
    visibility:hidden;
}
.cap {
    max-width: 1100px;
    margin: 0 auto;
    display: table;
    width: 100%;
    padding: 0 30px;
}

.popup{

    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: auto;
    min-height: 20px;
    background: #fff;
    border-top: 5px solid $color-red;
    z-index: 200;
    box-shadow: 0 0 3px 0 #333;

    .text {
        padding: 10px;
        font-family: $font-bebas;
        color: #000;
        font-size: 20px;
        font-weight: 600;
        float: left;
        display: block;
    } 
    .close,
    .fold {
        height: 40px;
        width: 40px;
        font-family: $font-lato;
        font-size: 20px;
        color: #342c7a;
        background: transparent;
        border: 0 solid transparent;
        float: right;
        font-weight: 700;
        line-height: 40px;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .5;
        text-align: center;
        &:hover {
            opacity: 1;
            cursor: pointer;
            color: $color-red;
        }
    }
    .button-link {
        width: 90%;
        background: $color-red;
        text-decoration: none;
        margin: 10px auto;
        display: table;
        padding: 10px 20px;
        border-radius: 100px;
        position: relative;
        .text {
            font-size: 16px;
            text-align: left;
            color: #fff;
        }
        .fa {
            position: absolute;
            color: #fff;
            right: 5%;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 26px;
            font-size: 26px;
        }
    } 
}

#wpadminbar {
    position: fixed !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}





.screen-reader-response{
    display:none;
}




@mixin article-reviews{

    article {
        margin: 10px;
        display: block;
        background: #fff;
        width: 250px;
        height: auto;
        float: left;
        border-radius: 2px;
        margin-bottom: 20px;
        opacity: 0.95; 
    
        &:hover {
            opacity: 1; 
        }
        a {
            display: table;
            height: 100%;
            padding: 5px;
            color: #000;
            .crop {
                height: 210px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 5px;
            }
            .wrap {
                .wrap-info {
                    display: table;
                    width: 200px;
                    margin: 0 auto;
                    div {
                        display: table-cell;
                        width: 50%;
                        vertical-align: top;
                        i, span {
                            display: inline;
                        }
                    }
                }
                p {
                    margin: 5px;
                }
            }
        }
    }
}
@mixin article-products{
        

    /* native woocommerse overrides start */
    .onsale{
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 50px;
        padding-right: 4px;
        margin-left: -15px;
        font-weight: bold;
        margin-top: -20px;
        font-size: 14px;
        background-size: 200% 100%;
        line-height: 47px;
    }

    &:hover{

        .onsale{
            background-position: 91% 0; 
        }
    }
    /* native woocommerse overrides end */

    img {
        width: auto;
        height: auto;
        margin: 0 auto; 
    }
    a {
        height: 100%;
        text-decoration: none;
        border-radius: 2px;
        display: table;
        position: relative;
        background: #fff;
        padding: 10px;
        margin: 10px;
        width: 95%;
        box-shadow: 0 0 10px -2px #000;

        h2 {
            color: #000;
            font-size: 24px;
            line-height: 22px;
            font-family: $font-bebas;
            padding: 4px 0;
            width: auto;
            display: table;
            font-weight: 600;
            margin-top: 10px;
        }
        .purpose{
            font-family: $font-lato;
            font-weight: bold;
            color: #000;
            line-height: 18px;
            margin-top: 10px;
            padding: 4px;
            background: #CFBDF1;
            border-radius: 5px;
        }
        .quantity-discounts {
            display: table;
            width: 100%;
            border-top: 1px dotted rgba(0, 0, 0, .1);
            font-size: 12px;
            color: #000;
            & > div {
                width: 100%;
                display: table; 
                border-top: 0;
                line-height: 10px;
                border-bottom: 1px dotted rgba(0, 0, 0, .1);
                margin: 0;
                padding: 8px 5px;
                span {
                    width: auto;
                    display: table-cell;
                    vertical-align: top;

                    &:first-child{ 
                        text-align: left;
                    }
                    &:last-child{ 
                        text-align: right;
                    }
                }
            }
            & > div:nth-child(2n+2) {
                background: #f2f2f2;
            }
        }
        .price {
            color: $color-red;
            font-family: $font-bebas;
            font-size: 30px;
            font-weight: 200;
            display: table;
            width: 100%;
            margin: 0;
            line-height: 45px;

            .before, 
            .after {
                float: left;
                width: 50%;
                .currency {
                    display: inline;
                }
                .number {
                    display: inline;
                    font-weight: 300;
                }
            }
            .after {
                .currency {
                    font-size: 13px;
                }
                .number {
                    font-size: 26px;
                }
            }
            .before {     
                .currency {
                    font-weight: 500;
                    font-size: 15px;
                }
                .number {
                    text-decoration: line-through;
                    font-weight: 500;
                    font-size: 35px;
                }
            }
        }
        .submit {
            width: 100%;
            height: 40px;
            font-size: 18px;
            line-height: 32px;
            box-shadow: none;
        }
    } 
}