@import "variables";

/*font imports */
  
/* ################################## BEBAS ################################## */
  
@font-face {
  font-family: 'BebasNeue';
  src: url('#{$path}/fonts/bebasneue/BebasNeue Light.otf') format('opentype'),  
       url('#{$path}/fonts/bebasneue/BebasNeue Light.ttf') format('truetype') ; 
} 
/* ################################## LATO ################################## */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic); 