@import "variables";

@media (max-width: $breakpoint-wide){
 	
	.pick-form{
		.wrap {
		    padding-bottom: 20px;
		
			.form {
			    max-width: 600px;

				.left,
				.right{
					width: 100%;
					float: none;
				    margin: 0;
				}

				.left {
					.instructions { 
					    font-size: 14px;
					}
					.section { 
						.button {
							.box{
	                            opacity: 0.9;
	                        }
							label { 
							    font-size: 14px;
							}
						}
						.checkmark{
							.box{
								span {
								    text-align: center;
								}
							}  
					    }
					}
				}
				.right {
					&:before{
						content:"";
					}

					.side-wrap {
						.tab-group {
							.tab-links {
								.tab-link{

									&.active{ 

										&:after{
											display:block;
										}
									}
								}
							}
							.tab-contents {
								.scroll-wrap {
									.tab-content {
										.side-subtitle{ 
										    font-size: 22px;  
										    line-height: 40px;
										}
									}
								}
							}
						}
						.total {
							.label{
							    font-size: 22px; 
							} 
						}
					}
				}

			}
			.title {
			    font-size: 30px;
			    line-height: 35px;
			    margin-bottom: 20px;
			}
			.subtitle {
			    font-size: 20px;
			}

		}
	} 


	header { 
		
		.toolbar{
			.wrap{
				.left {
				    padding-left: 10px;
				}
			} 
		}

	    .navigation { 

	    	 
	    	.wrap { 

	        	& > .menu-item{ 
	        		.link{
	        			padding: 0;
	        			span{
						    font-size: 16px;
						    letter-spacing: 1px;
						    margin-left: 0;
						    padding: 0 15px;

						    &:after{
						    	font-size:18px;
						    }
	        			}
	        		}
	        	}
	        }
	    }
	}

	main { 
		&.single { 
			.single-head {
				.single-head-wrap {
					.image-wrap {
					    width: 200px;
					}
					.box-wrap{ 
					    padding-left: 10px;
					    padding-right: 10px;
					}
				}
			}
		}
		&.cart{
			.cap{
				padding: 0;
				.woocommerce table.shop_table td{
					padding: 0;
				}
			}
		}

		&.reviews,
		&.instructions,
		&.faq,
		&.blog,
		&.contact-us {
			.header {
				.left { 
				    display: table-footer-group;
				    width: 100%;
				    min-height: 40px;
					.heading {
						height: auto;
						padding: 20px;
						.right {
							h1 {
								.big{
								    font-size: 30px;

								}
							}
						}
						.left {
							width: 10%;
							i {
							    font-size: 30px;
							    line-height: 50px;
							}
						}
					}
				}
				.right{
					width: 100%;
				    display: table-header-group;
					.sidebar{
						.wrap{
							h2{
								clear: both;
								cursor: pointer;
								&:hover{
									background-color:#1F1F1F;
								}
								.arrow{
									display: block; 
								    font-size: 40px;
								    font-weight: bold;
								    float: right;
								    line-height: 50px;
								    font-family: monospace;
									&:after{
										content: "<";
										transform: rotate(-90deg); 
									    position: absolute;
									    right: 10px; 
									}
									&.down{
										&:after{
											transform: rotate(90deg); 
										}
									}
								} 
							}
							.menu{
								display: none;
							}
						}
					}
				}
			}
		}

		&.blog-single{
			.wrap{
				.content{
					.pull { 
					    margin: 0;
					}
				}
			}
		}

		&.reviews { 
			& > .posts {
				.wrapper { 
					.content {
						article {
							.left { 
							    width: 200px;
						    }
						    .right{ 
						    	.title {
								    font-size: 16px; 
								    font-weight: bold;
								}
							}
					    }
				    }
			    }
		    }
	    }
	}

	.sidebar-tiles{
		.wrap{
			&.celebrities{
				position: initial !important; 
				width: 300px !important;
			}
		}
	}

	footer {
		.cap {
			.left, 
			.middle, 
			.right {
			    width: 100%;
			    float: none;
			    margin-bottom: 20px; 
		        text-align: left;
			}
		}
	} 
}
 

@media (max-width: $breakpoint-ipad){

	.wrapper-sticky{
		display: none !important;
	}

	.custom-shortcode {
		.wi-center-heading {
			.h{
				font-size: 34px;
			}
		}
	}

	header {
		.toolbar {
			.wrap {
				.right {
					.cart{
						.bubble{
							display: none;
						}
						.text{
							padding: 0;
						}
					}
				}
			}
		}
	}
	main{
		&.single{
			.single-head {
				.single-head-wrap {
					.image-wrap {
					    width: 90%;
						float: none;
						clear: both;
						margin: 0 5%;
						margin-bottom: 20px;
					}
					.box-wrap{ 
					    display: block;
					    width: 100%;
					    max-width: none;
					    .zoom-zoomed{
					    	display: none;
					    }

						.overview {
							.title{
								font-size: 28px;
							    line-height: 32px;
							}
							.add-to-cart-button{
							    font-size: 30px; 
							}
						}
					}
				}
			} 
			.maintext{
				width: 100%; 
			    display: table;
			    padding: 0 10px;

				.wrapper {
					margin: 20px auto;
					padding: 0;

					.content-wrap{
    					padding-right: 0;
    					.content-tabs {
    						.tab.faq {
    							.faq-slide {
    								.title {
							    		font-size: 14px;
						    		}
						    		.content{
						    			p{
							    			margin-top: 0;
						    				padding-bottom: 0;
						    			}
						    		}
						    	}
					    	}
				    	}
    				}
					.content{
						padding: 0;

						h3,
						h4{
							font-size: 28px;
						    line-height: 32px;	 
						}
					}
				}
			}
		}

		&.cart{
			.cap{ 
				.woocommerce {
					table.shop_table {
						thead{
							display: none;
						}
						td{
							padding: 6px 12px;
						}
						tr {

							.product-thumbnail{
								display: none;
							}
							td{
								width: 100%;
								display: table;
								text-align: right;
								&:before {
								    content: attr(data-title) ": ";
								    font-weight: 700;
								    float: left;
								}
							}
						}
					}
				}
				.clear{

				    margin: 20px auto;
					padding-right: 0;

					.form{
						display: block;
						.tabs {
							.tab {
								.contents {
									.content {  
										padding: 0; 
									}
								}
							}
						}
					}  
				}
			}
		} 
		&.compare-box {

			.cap {
				padding: 10px;
				.bottom {
					.left {
						.name{ 
							height: 35px;
							span{
								font-size: 15px;	
							}
						}
					}
					.right {
						.wrap {
							.content {
								.shadow{

									.product{
										h3{
											font-size: 16px;
											line-height: 18px;
										    margin-top: 5px;
										} 
									}
									.ranks{
										height: 35px;
    									line-height: 35px;
										font-size: 16px; 
										
										i {
										    font-size: 12px; 
										    width: 12px;
										    height: 12px;
										}
									}
								}
							}
						}
					}
				}
				.tabs {
					.product-box {
						.right {
							.wrap {
								.img {
									width: 200px;
								}
							}
						}
					}
				}
			}
		} 
		&.faq {
			.posts {
				.wrapper{

				    padding-right: 0;
				    .content{
			    	    padding-right: 0;

			    	    article {
			    	    	.title { 
							    font-size: 20px;
							    line-height: 20px;
				    	    }
			    		}
				    }
				}
			}
		}
		&.blog {
			.posts {
				.wrapper{	
				    padding-right: 0;
				}
			}
		} 
		&.reviews {
			.posts {
				padding: 0 10px;
				.wrapper{	
				    padding-right: 0;
				    .content{
					    padding-right: 0; 
				    }
				}
			}
		} 

		&.blog-single{
			.wrap{
			    padding-right: 0;
				.content{
					display: block;
				}
			}
		} 
	}    

	.pick-form {
		.wrap {
			padding-top: 20px;
			.subtitle { 
			    padding-bottom: 0;
			}
			.form{
				.left{
				 	.section{
				 		&.options-3{ 
					 		.button{
					 	 		.box{
					 	 			height: 70px;
					 	 		}
					 	 	}	
				 		}
				 		.checkmark {
				 			.box {
				 				span {
								    text-align: left;
								    text-indent: 0;
								    padding-left: 32px;
								}
				 			}
				 		}
				 		.button{
				 			.box{
				 				span { 
								    text-align: left;
								}
				 			}
				 		}
				 	}
				}
			}
		}
	}  
}

@media (max-width: $breakpoint-masonry-3){
 
	main {
		.products,
		&.products {
			.woocommerce {
				.js-masonry{
		
					max-width: 750px;
				}
			}
		}
	}
}
@media (max-width: $breakpoint-masonry-2){
	main {
		.products,
		&.products {
			.woocommerce {
				.js-masonry{
		
					max-width: 500px;
				}
			}
		}
	}
}

@media (max-width: $breakpoint-medium){

	.pick-form { 
		.wrap {
		    padding-top: 40px;
	
			.form {
				.left {
					.section {
						.checkmark{
							&:before { 
								left: 2px; 
							}
							&:after{
								left: 32px;
							}
						}
					}
				}
			}
		}
	}

	header { 
		
		.toolbar {  
			.wrap{

		    	.mmenu-trigger{
		    		display: block;
		    	} 
		    	.left { 
				    width: 230px;
		    		img {
					    height: 50px;  
		    		}   
			    }
			    .right{
			    	height: 50px;  
			    }
			}
	    }  
	    .navigation {
    		display: none; 
	    }
	}

	main,
	.breadcrumbs,
	footer{
		top: 50px; 
	}

	.sidebar-tiles{
	    width: 100%;
	    float: none;
	    padding-top: 40px;
	}

	main { 
		&.single {
			.maintext {
				.wrapper {

		            .content-wrap{
		                .content-tabs{
		                    .tab{

		                        &.reviews{ 
		                            .review{ 
		                                .right{
		                                	display: block;
		                                }
		                            }
		                        }
		                    }
		                }
		            }
					.content {
					    display: block; 
					}
				}
			}  
		}
		.who-we-are {
			.content { 
			    padding: 0 20px;
			}
		}
 	
		&.cart{
			.cap{
				.sidebar-tiles.mobile-tiles{
	            	display: block;
	            }	
			}
		}
	    .products,
	    &.products{ 
	        .woocommerce{ 
	            .js-masonry { 
	            	height: auto !important;
	                article{ 
	                    float: none;
						width: 90%; 
					    margin: 0 auto;
					    max-width: 300px;
						margin-top: 20px; 
	    				position: initial !important;

	    				a{ 
						    margin: 10px auto;
						    width: 100%;
						    max-width: 400px;
						}
					}
				}
			}
		}
		.front-bullets{
			display: none;
		}

		.instagram-feed-live{
 
			.unfold{
				display: none;
			}
			&.folded{
				&:after{
					display:none;
				}
				.cap{
					max-height: none; 
					overflow-y: hidden;
				    overflow-x: scroll;
				    width: 100%;
				    height: 400px;
				    margin: 0;
				    padding: 0;

				   	masonry{ 
						height: 400px !important; 
						margin: 0; 
						width: 850%;
						overflow-x: scroll;
						overflow-y: hidden; 
						white-space:nowrap;

						article{  
							display:inline-block;
							*display:inline;
							*zoom:1;
							vertical-align:top; 
							white-space:initial;

							position: initial !important; 
							height: 380px;
						    margin-bottom: 10px;

						    &:last-child{
							    margin-right: 20px; 					    	
						    }
						}
				    }
				}
			}
		}
		&.cart {
			.cap {
				.popup-link {
					.submit-wrap {
						h2{
							font-size: 20px;
						}
					}
				}
			}
		}

		&.blog-single{ 
			margin-top: 20px;
		    .wrap{  
		    	margin: 20px 0;
		        .content {  
		            .pull{  
		            	top: 0;
		                .text{ 
		                	ol,ul{
		                		margin-left: 20px;
		                	}
		                    .alignleft,
		                    .alignright{
		                    	margin: 0 auto;
		                    	width: 90%;
		                    	margin-bottom: 20px;
		                        float: none; 
		                    } 
		                }
		            }
		            .blog-nav {
		            	.nav.prev,
		            	.nav.next{
		            		width: 100%;
		            		float: none;
		            		a{
			            		margin: 0;
			            		&:after{
			            			display:none;
			            		}
	            			}
		            	}
		            } 
		        } 
			}
		} 
	}

	.overlay-instagram {
		display:none;
		.button {
		    bottom: 10px;
		    right: 10px;
		}
	} 
}

@media (max-width: $breakpoint-small){


	header { 
		.toolbar {
			.wrap {
				.left {
				    width: auto;
				    img { 
					    padding: 10px 0; 
					}
				}
				.right{
					width: auto;
					.cart{
						right: 10px;
					}
				}
			}
		}
		.promotion { 
		    text-indent: 0;
		    font-size: 16px;
		    line-height: 16px; 
		}
	}  
	.cap{
		padding: 0 10px;
	}
	.overlay-instagram { 
	    .instagram-feed {
	    	bottom: 0;
	    	right: 0; 
	    	height: 100%;

	    	.middle{
	    		max-height: 100%;
	    	} 
	    	.bottom {
	    		.button-link {
	    			.text { 
					    width: 70%;
					    line-height: 15px;
					}    
	    		}
	    	}
	    }
	}

	.pick-form {
		.wrap {
			.title {
			    font-size: 17px;
				font-weight: bold;
				text-transform: uppercase;
				line-height: 23px;
			}
			.subtitle {
			    font-size: 16px;
			}
			.form {
				.left {
					.instructions{
						display: none;
					}

					.section {

						&.options-2{
							display:none;
						}
						
						.button{
							.box{
					    		padding: 5px; 

					    		span { 
									line-height: inherit !important;
									padding-top: 5px; 
							    }
							}
						}  
					}
				} 

				.right {
					.side-wrap {
						.tab-group {
							.tab-contents {
								.scroll-wrap {
    								max-height: none; 
    								overflow: hidden;
								}
							}
						}
						.total{
							display: none;
						}
					}
				}
			}
		}
	} 
 
	.front-bullets {
 		.cap{

		    h2 {
		    }
		    .wrap { 
		    	padding: 0;
		        & > div { 
					width: 100%;
					margin: 0;
					float: none;
					margin-bottom: 20px;
		        }
		    } 
		    p{
		    	display: none;
		    }	
 		}
	}
	.custom-shortcode {
		.wi-center-heading{
			.h {
			    font-size: 24px;
			    line-height: 30px;
			    margin-bottom: 20px;
			}
		}
	}

	main.compare-box {
		.cap {
			.bottom {
				.left { 
				    width: 100px;
				    .name {
					    height: 60px;
					}
				}
				.right {
					.wrap {
						.content {
							.shadow{
								.ranks{
					 				height: 60px;  
								    line-height: 14px;
								    padding-top: 14px;
								}
								.product {
									img{   
										max-width: 100%;
										height: 45px;
										width: auto;
									}
								}

							}
						}
					}
				}
			} 
			.tabs {
				.product-box {
					.right {
						.wrap {
							.img,
							.text{
								width: 100%;
								display: block;
							}
							.text{
								.submit{
									span:last-child{
										display:none;
									}
								}
							}
						}
					}
				}
			} 
		}
	} 
	main{

		&.products,
		.products {
			.woocommerce {
				.js-masonry {
					article {
						.submit{
						    height: 60px;
						    font-size: 26px;
						} 
					}
				}
			} 
		}
		
		.horizontal-scroll-wrap {
			.frame {
				height: 480px;
				.clearfix {
					article {
						width: 240px;
						a{

							img{

							    max-height: 110px;
							}
							.price{
							    line-height: 35px;
							}
							.submit{
							    margin: 0;
							}
						}
					}
				}
			}
		}

		&.reviews{
			& > .posts {
				.wrapper {
					.content {
						article {
							.left{
								width: 100%;
							}
							.right {
							    display: block;
							}
						}
					}
				}
			}
		}
	} 

  
	footer {
		padding: 10px 0;

		.cap {
		    padding: 0 10px;
		    padding-bottom: 40px; 
		}
	}  
} 