/*############################ Variables ############################ */ 

//$path: "http://3dcrestwhite.ru/wp-content/themes/3dcrestwhite/public";
$path: 'http://3dcrestwhite-new.ru/wp-content/themes/3dcrestwhite/public';
 
/* shifts */
$shift-main-desktop: 120px;
$shift-main-tablet: 90px;
$shift-main-mobile: 80px;
 
/* colors */
$color-header: #fff;

$color-red: 		 #CC4B4B;
$color-red-hover: 	 #E04040;

$color-blue: 		 #2F31C2;
$color-blue-hover: 	 #6365DB;

$color-black: 		 #000;
$color-black-hover:	 #333;

$color-gray:		 #ccc;
$color-gray-light:   #EBEBEB;

$color-header:		 #fff;
     
/* image links */ 
$search-img:  '#{$path}/img/other/search.png';
$profile-img: '#{$path}/img/other/profile.png';
$navigation-hover-angle:  '#{$path}/img/other/navigation-hover-angle.png'; 
  
$button-submit: 	   '#{$path}/img/sprites/button.png';

$social-button: 	   '#{$path}/img/social/close.png';
$social-button-active: '#{$path}/img/social/close-active.png';

$cart-bubble: '#{$path}/img/sprites/bubble.png';


/* social icons */
$social-pinterest: 	'#{$path}/img/social/pinterest.png';
$social-twitter: 	'#{$path}/img/social/twitter.png';
$social-facebook: 	'#{$path}/img/social/facebook.png';
$social-instagram:  '#{$path}/img/social/instagram.png';
$social-google: 	'#{$path}/img/social/google.png';
$social-message: 	'#{$path}/img/social/message.png';

$social-instagram-svg:  '#{$path}/img/social/instagram.svg';

/* fonts */
$font-lato: "Open Sans", Helvetica, Arial, sans-serif;  
$font-bebas: "BebasNeue", Helvetica, Arial, sans-serif;  
$font-arial: Arial;

/* common width limit */
$width-max: 1100px;

/* breakpoints */
$breakpoint-wide: 1000px;
$breakpoint-ipad: 768px;
$breakpoint-medium: 650px;
$breakpoint-small: 540px;
   
$breakpoint-masonry-3: 1018px;
$breakpoint-masonry-2: 760px;