/*############################ Global ############################ */
/*############################ Variables ############################ */
/* shifts */
/* colors */
/* image links */
/* social icons */
/* fonts */
/* common width limit */
/* breakpoints */
html {
  -webkit-text-size-adjust: none; }

html,
body,
div,
p,
a,
span,
input,
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body,
a {
  color: #000; }

body {
  overflow-x: hidden;
  background: #fff;
  background-color: #fff;
  font-family: Arial;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

span,
p,
a,
img,
strong {
  display: block; }

p {
  margin-top: 20px; }

a {
  color: #2F31C2;
  text-decoration: none; }
  a:visited {
    color: #2F31C2;
    text-decoration: none; }
  a:hover {
    color: #6365DB;
    text-decoration: none; }

svg {
  fill: currentColor; }
  svg g {
    fill: currentColor; }

textarea,
input {
  height: inherit;
  border-radius: 2px;
  border: 1px solid #EBEBEB;
  display: inline-block;
  vertical-align: middle;
  text-indent: 10px; }

input[type="submit"] {
  text-indent: 0; }

input:focus {
  outline: none; }

button:focus {
  outline: none; }

textarea:focus {
  outline: none; }
