/*########################### Helper CLasses ######################### */
/*############################ Variables ############################ */
/* shifts */
/* colors */
/* image links */
/* social icons */
/* fonts */
/* common width limit */
/* breakpoints */
.custom-shortcode {
  font-family: Georgia, serif;
  margin-bottom: 40px; }
  .custom-shortcode .wi-center-heading {
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
    width: 90%;
    margin: 0 auto; }
    .custom-shortcode .wi-center-heading .h {
      height: auto;
      display: inline-block;
      position: relative;
      padding-left: 5px;
      margin-bottom: 0;
      letter-spacing: 2px;
      font-size: 54px;
      text-transform: uppercase;
      line-height: 60px;
      font-family: "BebasNeue", Helvetica, Arial, sans-serif;
      font-weight: 300; }
  .custom-shortcode .wi-center-heading.has_boder .h:before,
  .custom-shortcode .wi-center-heading.has_boder .h:after {
    position: absolute;
    top: 50%;
    width: 999px;
    content: "";
    border-top: 1px solid #ddd; }
  .custom-shortcode .wi-center-heading.has_boder .h:before {
    left: -999px; }
  .custom-shortcode .wi-center-heading .subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    position: relative;
    top: -5px;
    font-family: Roboto; }

.show {
  -webkit-transition: all 2s ease-in-out; }

.fixed-header {
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px 0 #ccc; }

.logged-in .fixed-header {
  margin-top: 30px; }

@media screen and (max-width: 782px) {
  .logged-in .fixed-header {
    margin-top: 46px !important; } }

.slide-transition {
  opacity: 0;
  margin-top: 0; }
  .slide-transition.init {
    opacity: 1;
    margin-top: 10px;
    transition: opacity 0.3s;
    transition: margin-top 0.3s; }

.crop {
  overflow: hidden;
  position: relative; }
  .crop img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%; }

.clear:after {
  content: "";
  clear: both; }

.bubble {
  border-radius: 20px;
  height: 51px;
  width: 36px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  z-index: 10;
  display: block;
  text-align: center;
  line-height: 50px;
  background-size: auto 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("http://3dcrestwhite.ru/wp-content/themes/3dcrestwhite/public/img/sprites/bubble.png"); }

.left-shadow {
  position: relative;
  overflow: hidden;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; }
  .left-shadow:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    top: 5%;
    height: 90%;
    left: -10px;
    border-radius: 5px / 100px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.6); }
  .left-shadow:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 10px;
    top: 5%;
    height: 90%;
    right: -10px;
    border-radius: 5px / 100px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.6); }

.overlay {
  background: #000;
  width: 100%;
  height: 1000%;
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  z-index: 100;
  opacity: .8; }
  .overlay.active {
    display: block; }

button.submit,
input.submit,
a.submit,
button.checkout-button,
input.checkout-button,
a.checkout-button {
  color: #fff;
  margin: 20px auto;
  margin-top: 20px;
  font-family: "BebasNeue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  display: block;
  border-radius: 2px;
  background: #fff;
  padding: 6px 30px;
  position: relative;
  box-shadow: none;
  text-shadow: inherit;
  text-decoration: none;
  text-align: center;
  border: 0 solid transparent;
  background-color: transparent;
  background-image: url("http://3dcrestwhite.ru/wp-content/themes/3dcrestwhite/public/img/sprites/button.png");
  background-size: 200% 100%;
  background-position: 100% 0; }
  button.submit:hover,
  input.submit:hover,
  a.submit:hover,
  button.checkout-button:hover,
  input.checkout-button:hover,
  a.checkout-button:hover {
    background-position: 0 0;
    cursor: pointer; }
  button.submit:visited,
  input.submit:visited,
  a.submit:visited,
  button.checkout-button:visited,
  input.checkout-button:visited,
  a.checkout-button:visited {
    color: #fff; }
  button.submit .text,
  input.submit .text,
  a.submit .text,
  button.checkout-button .text,
  input.checkout-button .text,
  a.checkout-button .text {
    display: block; }
  button.submit .loading,
  input.submit .loading,
  a.submit .loading,
  button.checkout-button .loading,
  input.checkout-button .loading,
  a.checkout-button .loading {
    display: none; }
  button.submit.active .loading,
  input.submit.active .loading,
  a.submit.active .loading,
  button.checkout-button.active .loading,
  input.checkout-button.active .loading,
  a.checkout-button.active .loading {
    display: block; }
  button.submit.active .text,
  input.submit.active .text,
  a.submit.active .text,
  button.checkout-button.active .text,
  input.checkout-button.active .text,
  a.checkout-button.active .text {
    display: none; }

.hidden {
  display: none !important;
  opacity: 0 !important; }

.disabled {
  visibility: hidden; }

.cap {
  max-width: 1100px;
  margin: 0 auto;
  display: table;
  width: 100%;
  padding: 0 30px; }

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: auto;
  min-height: 20px;
  background: #fff;
  border-top: 5px solid #CC4B4B;
  z-index: 200;
  box-shadow: 0 0 3px 0 #333; }
  .popup .text {
    padding: 10px;
    font-family: "BebasNeue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    float: left;
    display: block; }
  .popup .close,
  .popup .fold {
    height: 40px;
    width: 40px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #342c7a;
    background: transparent;
    border: 0 solid transparent;
    float: right;
    font-weight: 700;
    line-height: 40px;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    text-align: center; }
    .popup .close:hover,
    .popup .fold:hover {
      opacity: 1;
      cursor: pointer;
      color: #CC4B4B; }
  .popup .button-link {
    width: 90%;
    background: #CC4B4B;
    text-decoration: none;
    margin: 10px auto;
    display: table;
    padding: 10px 20px;
    border-radius: 100px;
    position: relative; }
    .popup .button-link .text {
      font-size: 16px;
      text-align: left;
      color: #fff; }
    .popup .button-link .fa {
      position: absolute;
      color: #fff;
      right: 5%;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 26px;
      font-size: 26px; }

#wpadminbar {
  position: fixed !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.screen-reader-response {
  display: none; }
