/*############################ Variables ############################ */
/* shifts */
/* colors */
/* image links */
/* social icons */
/* fonts */
/* common width limit */
/* breakpoints */
/*font imports */
/* ################################## BEBAS ################################## */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic);
@font-face {
  font-family: 'BebasNeue';
  src: url("http://3dcrestwhite.ru/wp-content/themes/3dcrestwhite/public/fonts/bebasneue/BebasNeue Light.otf") format("opentype"), url("http://3dcrestwhite.ru/wp-content/themes/3dcrestwhite/public/fonts/bebasneue/BebasNeue Light.ttf") format("truetype"); }

/* ################################## LATO ################################## */
