/*############################ Variables ############################ */
/* shifts */
/* colors */
/* image links */
/* social icons */
/* fonts */
/* common width limit */
/* breakpoints */
@media (max-width: 1000px) {
  .pick-form .wrap {
    padding-bottom: 20px; }
    .pick-form .wrap .form {
      max-width: 600px; }
      .pick-form .wrap .form .left,
      .pick-form .wrap .form .right {
        width: 100%;
        float: none;
        margin: 0; }
      .pick-form .wrap .form .left .instructions {
        font-size: 14px; }
      .pick-form .wrap .form .left .section .button .box {
        opacity: 0.9; }
      .pick-form .wrap .form .left .section .button label {
        font-size: 14px; }
      .pick-form .wrap .form .left .section .checkmark .box span {
        text-align: center; }
      .pick-form .wrap .form .right:before {
        content: ""; }
      .pick-form .wrap .form .right .side-wrap .tab-group .tab-links .tab-link.active:after {
        display: block; }
      .pick-form .wrap .form .right .side-wrap .tab-group .tab-contents .scroll-wrap .tab-content .side-subtitle {
        font-size: 22px;
        line-height: 40px; }
      .pick-form .wrap .form .right .side-wrap .total .label {
        font-size: 22px; }
    .pick-form .wrap .title {
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 20px; }
    .pick-form .wrap .subtitle {
      font-size: 20px; }
  header .toolbar .wrap .left {
    padding-left: 10px; }
  header .navigation .wrap > .menu-item .link {
    padding: 0; }
    header .navigation .wrap > .menu-item .link span {
      font-size: 16px;
      letter-spacing: 1px;
      margin-left: 0;
      padding: 0 15px; }
      header .navigation .wrap > .menu-item .link span:after {
        font-size: 18px; }
  main.single .single-head .single-head-wrap .image-wrap {
    width: 200px; }
  main.single .single-head .single-head-wrap .box-wrap {
    padding-left: 10px;
    padding-right: 10px; }
  main.cart .cap {
    padding: 0; }
    main.cart .cap .woocommerce table.shop_table td {
      padding: 0; }
  main.reviews .header .left, main.instructions .header .left, main.faq .header .left, main.blog .header .left, main.contact-us .header .left {
    display: table-footer-group;
    width: 100%;
    min-height: 40px; }
    main.reviews .header .left .heading, main.instructions .header .left .heading, main.faq .header .left .heading, main.blog .header .left .heading, main.contact-us .header .left .heading {
      height: auto;
      padding: 20px; }
      main.reviews .header .left .heading .right h1 .big, main.instructions .header .left .heading .right h1 .big, main.faq .header .left .heading .right h1 .big, main.blog .header .left .heading .right h1 .big, main.contact-us .header .left .heading .right h1 .big {
        font-size: 30px; }
      main.reviews .header .left .heading .left, main.instructions .header .left .heading .left, main.faq .header .left .heading .left, main.blog .header .left .heading .left, main.contact-us .header .left .heading .left {
        width: 10%; }
        main.reviews .header .left .heading .left i, main.instructions .header .left .heading .left i, main.faq .header .left .heading .left i, main.blog .header .left .heading .left i, main.contact-us .header .left .heading .left i {
          font-size: 30px;
          line-height: 50px; }
  main.reviews .header .right, main.instructions .header .right, main.faq .header .right, main.blog .header .right, main.contact-us .header .right {
    width: 100%;
    display: table-header-group; }
    main.reviews .header .right .sidebar .wrap h2, main.instructions .header .right .sidebar .wrap h2, main.faq .header .right .sidebar .wrap h2, main.blog .header .right .sidebar .wrap h2, main.contact-us .header .right .sidebar .wrap h2 {
      clear: both;
      cursor: pointer; }
      main.reviews .header .right .sidebar .wrap h2:hover, main.instructions .header .right .sidebar .wrap h2:hover, main.faq .header .right .sidebar .wrap h2:hover, main.blog .header .right .sidebar .wrap h2:hover, main.contact-us .header .right .sidebar .wrap h2:hover {
        background-color: #1F1F1F; }
      main.reviews .header .right .sidebar .wrap h2 .arrow, main.instructions .header .right .sidebar .wrap h2 .arrow, main.faq .header .right .sidebar .wrap h2 .arrow, main.blog .header .right .sidebar .wrap h2 .arrow, main.contact-us .header .right .sidebar .wrap h2 .arrow {
        display: block;
        font-size: 40px;
        font-weight: bold;
        float: right;
        line-height: 50px;
        font-family: monospace; }
        main.reviews .header .right .sidebar .wrap h2 .arrow:after, main.instructions .header .right .sidebar .wrap h2 .arrow:after, main.faq .header .right .sidebar .wrap h2 .arrow:after, main.blog .header .right .sidebar .wrap h2 .arrow:after, main.contact-us .header .right .sidebar .wrap h2 .arrow:after {
          content: "<";
          transform: rotate(-90deg);
          position: absolute;
          right: 10px; }
        main.reviews .header .right .sidebar .wrap h2 .arrow.down:after, main.instructions .header .right .sidebar .wrap h2 .arrow.down:after, main.faq .header .right .sidebar .wrap h2 .arrow.down:after, main.blog .header .right .sidebar .wrap h2 .arrow.down:after, main.contact-us .header .right .sidebar .wrap h2 .arrow.down:after {
          transform: rotate(90deg); }
    main.reviews .header .right .sidebar .wrap .menu, main.instructions .header .right .sidebar .wrap .menu, main.faq .header .right .sidebar .wrap .menu, main.blog .header .right .sidebar .wrap .menu, main.contact-us .header .right .sidebar .wrap .menu {
      display: none; }
  main.blog-single .wrap .content .pull {
    margin: 0; }
  main.reviews > .posts .wrapper .content article .left {
    width: 200px; }
  main.reviews > .posts .wrapper .content article .right .title {
    font-size: 16px;
    font-weight: bold; }
  .sidebar-tiles .wrap.celebrities {
    position: initial !important;
    width: 300px !important; }
  footer .cap .left,
  footer .cap .middle,
  footer .cap .right {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    text-align: left; } }

@media (max-width: 768px) {
  .wrapper-sticky {
    display: none !important; }
  .custom-shortcode .wi-center-heading .h {
    font-size: 34px; }
  header .toolbar .wrap .right .cart .bubble {
    display: none; }
  header .toolbar .wrap .right .cart .text {
    padding: 0; }
  main.single .single-head .single-head-wrap .image-wrap {
    width: 90%;
    float: none;
    clear: both;
    margin: 0 5%;
    margin-bottom: 20px; }
  main.single .single-head .single-head-wrap .box-wrap {
    display: block;
    width: 100%;
    max-width: none; }
    main.single .single-head .single-head-wrap .box-wrap .zoom-zoomed {
      display: none; }
    main.single .single-head .single-head-wrap .box-wrap .overview .title {
      font-size: 28px;
      line-height: 32px; }
    main.single .single-head .single-head-wrap .box-wrap .overview .add-to-cart-button {
      font-size: 30px; }
  main.single .maintext {
    width: 100%;
    display: table;
    padding: 0 10px; }
    main.single .maintext .wrapper {
      margin: 20px auto;
      padding: 0; }
      main.single .maintext .wrapper .content-wrap {
        padding-right: 0; }
        main.single .maintext .wrapper .content-wrap .content-tabs .tab.faq .faq-slide .title {
          font-size: 14px; }
        main.single .maintext .wrapper .content-wrap .content-tabs .tab.faq .faq-slide .content p {
          margin-top: 0;
          padding-bottom: 0; }
      main.single .maintext .wrapper .content {
        padding: 0; }
        main.single .maintext .wrapper .content h3,
        main.single .maintext .wrapper .content h4 {
          font-size: 28px;
          line-height: 32px; }
  main.cart .cap .woocommerce table.shop_table thead {
    display: none; }
  main.cart .cap .woocommerce table.shop_table td {
    padding: 6px 12px; }
  main.cart .cap .woocommerce table.shop_table tr .product-thumbnail {
    display: none; }
  main.cart .cap .woocommerce table.shop_table tr td {
    width: 100%;
    display: table;
    text-align: right; }
    main.cart .cap .woocommerce table.shop_table tr td:before {
      content: attr(data-title) ": ";
      font-weight: 700;
      float: left; }
  main.cart .cap .clear {
    margin: 20px auto;
    padding-right: 0; }
    main.cart .cap .clear .form {
      display: block; }
      main.cart .cap .clear .form .tabs .tab .contents .content {
        padding: 0; }
  main.compare-box .cap {
    padding: 10px; }
    main.compare-box .cap .bottom .left .name {
      height: 35px; }
      main.compare-box .cap .bottom .left .name span {
        font-size: 15px; }
    main.compare-box .cap .bottom .right .wrap .content .shadow .product h3 {
      font-size: 16px;
      line-height: 18px;
      margin-top: 5px; }
    main.compare-box .cap .bottom .right .wrap .content .shadow .ranks {
      height: 35px;
      line-height: 35px;
      font-size: 16px; }
      main.compare-box .cap .bottom .right .wrap .content .shadow .ranks i {
        font-size: 12px;
        width: 12px;
        height: 12px; }
    main.compare-box .cap .tabs .product-box .right .wrap .img {
      width: 200px; }
  main.faq .posts .wrapper {
    padding-right: 0; }
    main.faq .posts .wrapper .content {
      padding-right: 0; }
      main.faq .posts .wrapper .content article .title {
        font-size: 20px;
        line-height: 20px; }
  main.blog .posts .wrapper {
    padding-right: 0; }
  main.reviews .posts {
    padding: 0 10px; }
    main.reviews .posts .wrapper {
      padding-right: 0; }
      main.reviews .posts .wrapper .content {
        padding-right: 0; }
  main.blog-single .wrap {
    padding-right: 0; }
    main.blog-single .wrap .content {
      display: block; }
  .pick-form .wrap {
    padding-top: 20px; }
    .pick-form .wrap .subtitle {
      padding-bottom: 0; }
    .pick-form .wrap .form .left .section.options-3 .button .box {
      height: 70px; }
    .pick-form .wrap .form .left .section .checkmark .box span {
      text-align: left;
      text-indent: 0;
      padding-left: 32px; }
    .pick-form .wrap .form .left .section .button .box span {
      text-align: left; } }

@media (max-width: 1018px) {
  main .products .woocommerce .js-masonry, main.products .woocommerce .js-masonry {
    max-width: 750px; } }

@media (max-width: 760px) {
  main .products .woocommerce .js-masonry, main.products .woocommerce .js-masonry {
    max-width: 500px; } }

@media (max-width: 650px) {
  .pick-form .wrap {
    padding-top: 40px; }
    .pick-form .wrap .form .left .section .checkmark:before {
      left: 2px; }
    .pick-form .wrap .form .left .section .checkmark:after {
      left: 32px; }
  header .toolbar .wrap .mmenu-trigger {
    display: block; }
  header .toolbar .wrap .left {
    width: 230px; }
    header .toolbar .wrap .left img {
      height: 50px; }
  header .toolbar .wrap .right {
    height: 50px; }
  header .navigation {
    display: none; }
  main,
  .breadcrumbs,
  footer {
    top: 50px; }
  .sidebar-tiles {
    width: 100%;
    float: none;
    padding-top: 40px; }
  main.single .maintext .wrapper .content-wrap .content-tabs .tab.reviews .review .right {
    display: block; }
  main.single .maintext .wrapper .content {
    display: block; }
  main .who-we-are .content {
    padding: 0 20px; }
  main.cart .cap .sidebar-tiles.mobile-tiles {
    display: block; }
  main .products .woocommerce .js-masonry, main.products .woocommerce .js-masonry {
    height: auto !important; }
    main .products .woocommerce .js-masonry article, main.products .woocommerce .js-masonry article {
      float: none;
      width: 90%;
      margin: 0 auto;
      max-width: 300px;
      margin-top: 20px;
      position: initial !important; }
      main .products .woocommerce .js-masonry article a, main.products .woocommerce .js-masonry article a {
        margin: 10px auto;
        width: 100%;
        max-width: 400px; }
  main .front-bullets {
    display: none; }
  main .instagram-feed-live .unfold {
    display: none; }
  main .instagram-feed-live.folded:after {
    display: none; }
  main .instagram-feed-live.folded .cap {
    max-height: none;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0; }
    main .instagram-feed-live.folded .cap masonry {
      height: 400px !important;
      margin: 0;
      width: 850%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap; }
      main .instagram-feed-live.folded .cap masonry article {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        white-space: initial;
        position: initial !important;
        height: 380px;
        margin-bottom: 10px; }
        main .instagram-feed-live.folded .cap masonry article:last-child {
          margin-right: 20px; }
  main.cart .cap .popup-link .submit-wrap h2 {
    font-size: 20px; }
  main.blog-single {
    margin-top: 20px; }
    main.blog-single .wrap {
      margin: 20px 0; }
      main.blog-single .wrap .content .pull {
        top: 0; }
        main.blog-single .wrap .content .pull .text ol, main.blog-single .wrap .content .pull .text ul {
          margin-left: 20px; }
        main.blog-single .wrap .content .pull .text .alignleft,
        main.blog-single .wrap .content .pull .text .alignright {
          margin: 0 auto;
          width: 90%;
          margin-bottom: 20px;
          float: none; }
      main.blog-single .wrap .content .blog-nav .nav.prev,
      main.blog-single .wrap .content .blog-nav .nav.next {
        width: 100%;
        float: none; }
        main.blog-single .wrap .content .blog-nav .nav.prev a,
        main.blog-single .wrap .content .blog-nav .nav.next a {
          margin: 0; }
          main.blog-single .wrap .content .blog-nav .nav.prev a:after,
          main.blog-single .wrap .content .blog-nav .nav.next a:after {
            display: none; }
  .overlay-instagram {
    display: none; }
    .overlay-instagram .button {
      bottom: 10px;
      right: 10px; } }

@media (max-width: 540px) {
  header .toolbar .wrap .left {
    width: auto; }
    header .toolbar .wrap .left img {
      padding: 10px 0; }
  header .toolbar .wrap .right {
    width: auto; }
    header .toolbar .wrap .right .cart {
      right: 10px; }
  header .promotion {
    text-indent: 0;
    font-size: 16px;
    line-height: 16px; }
  .cap {
    padding: 0 10px; }
  .overlay-instagram .instagram-feed {
    bottom: 0;
    right: 0;
    height: 100%; }
    .overlay-instagram .instagram-feed .middle {
      max-height: 100%; }
    .overlay-instagram .instagram-feed .bottom .button-link .text {
      width: 70%;
      line-height: 15px; }
  .pick-form .wrap .title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 23px; }
  .pick-form .wrap .subtitle {
    font-size: 16px; }
  .pick-form .wrap .form .left .instructions {
    display: none; }
  .pick-form .wrap .form .left .section.options-2 {
    display: none; }
  .pick-form .wrap .form .left .section .button .box {
    padding: 5px; }
    .pick-form .wrap .form .left .section .button .box span {
      line-height: inherit !important;
      padding-top: 5px; }
  .pick-form .wrap .form .right .side-wrap .tab-group .tab-contents .scroll-wrap {
    max-height: none;
    overflow: hidden; }
  .pick-form .wrap .form .right .side-wrap .total {
    display: none; }
  .front-bullets .cap .wrap {
    padding: 0; }
    .front-bullets .cap .wrap > div {
      width: 100%;
      margin: 0;
      float: none;
      margin-bottom: 20px; }
  .front-bullets .cap p {
    display: none; }
  .custom-shortcode .wi-center-heading .h {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px; }
  main.compare-box .cap .bottom .left {
    width: 100px; }
    main.compare-box .cap .bottom .left .name {
      height: 60px; }
  main.compare-box .cap .bottom .right .wrap .content .shadow .ranks {
    height: 60px;
    line-height: 14px;
    padding-top: 14px; }
  main.compare-box .cap .bottom .right .wrap .content .shadow .product img {
    max-width: 100%;
    height: 45px;
    width: auto; }
  main.compare-box .cap .tabs .product-box .right .wrap .img,
  main.compare-box .cap .tabs .product-box .right .wrap .text {
    width: 100%;
    display: block; }
  main.compare-box .cap .tabs .product-box .right .wrap .text .submit span:last-child {
    display: none; }
  main.products .woocommerce .js-masonry article .submit,
  main .products .woocommerce .js-masonry article .submit {
    height: 60px;
    font-size: 26px; }
  main .horizontal-scroll-wrap .frame {
    height: 480px; }
    main .horizontal-scroll-wrap .frame .clearfix article {
      width: 240px; }
      main .horizontal-scroll-wrap .frame .clearfix article a img {
        max-height: 110px; }
      main .horizontal-scroll-wrap .frame .clearfix article a .price {
        line-height: 35px; }
      main .horizontal-scroll-wrap .frame .clearfix article a .submit {
        margin: 0; }
  main.reviews > .posts .wrapper .content article .left {
    width: 100%; }
  main.reviews > .posts .wrapper .content article .right {
    display: block; }
  footer {
    padding: 10px 0; }
    footer .cap {
      padding: 0 10px;
      padding-bottom: 40px; } }
