<span class="text">добавить в корзину</span>
<div class="cs-loader loading">
	<div class="cs-loader-inner">
		<label>	●</label>
		<label>	●</label>
		<label>	●</label>
		<label>	●</label>
		<label>	●</label>
		<label>	●</label>
	</div>
</div> 